ejercicio01/ejercicio01.dtd

<!ELEMENT catalogo (libros, revistas, usuarios, prestamos)>
<!ATTLIST catalogo fecha CDATA #REQUIRED>

<!-- LIBROS -->
<!ELEMENT libros (libro+)>
<!ELEMENT libro (titulo, anio, autores, etiquetas?)>
<!ATTLIST libro id ID #REQUIRED>
<!ATTLIST libro categoria CDATA #REQUIRED>
<!ATTLIST libro isbn CDATA #REQUIRED>
<!ATTLIST libro paginas CDATA #IMPLIED>

<!ELEMENT titulo (#PCDATA)>
<!ELEMENT anio (#PCDATA)>

<!ELEMENT autores (autor+)>
<!ELEMENT autor (nombre, orcid?)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT orcid (#PCDATA)>

<!ELEMENT etiquetas (etiqueta+)>
<!ELEMENT etiqueta (#PCDATA)>

<!-- REVISTAS -->
<!ELEMENT revistas (revista+)>
<!ELEMENT revista (titulo, anio)>
<!ATTLIST revista id ID #REQUIRED>
<!ATTLIST revista area CDATA #REQUIRED>
<!ATTLIST revista issn CDATA #REQUIRED>
<!ATTLIST revista numero CDATA #IMPLIED>

<!-- USUARIOS -->
<!ELEMENT usuarios (usuario+)>
<!ELEMENT usuario (nombre, email)>
<!ATTLIST usuario id ID #REQUIRED>
<!ATTLIST usuario tipo CDATA #REQUIRED>

<!ELEMENT email (#PCDATA)>

<!-- PRESTAMOS -->
<!ELEMENT prestamos (prestamo+)>
<!ELEMENT prestamo (fecha_inicio, fecha_fin?, estado)>
<!ATTLIST prestamo id ID #REQUIRED>
<!ATTLIST prestamo itemRef IDREF #REQUIRED>
<!ATTLIST prestamo usuarioRef IDREF #REQUIRED>

<!ELEMENT fecha_inicio (#PCDATA)>
<!ELEMENT fecha_fin (#PCDATA)>
<!ELEMENT estado (#PCDATA)>
