ejercicio01/ejercicio01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="catalogo">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="libros">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="libro" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="revistas">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="revista" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="usuarios">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="usuario" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="prestamos">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="prestamo" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
      <xs:attribute name="fecha" type="xs:date"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="libro">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="titulo" type="xs:string"/>
        <xs:element name="anio" type="xs:integer"/>

        <xs:element name="autores">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="autor" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="etiquetas" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="etiqueta" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="categoria" type="tipoCategoria"/>
      <xs:attribute name="isbn" type="tipoIsbn"/>
      <xs:attribute name="paginas" type="xs:positiveInteger"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="autor">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="orcid" type="tipoOrcid" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="revista">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="titulo" type="xs:string"/>
        <xs:element name="anio" type="xs:integer"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="area" type="tipoArea"/>
      <xs:attribute name="issn" type="tipoIssn"/>
      <xs:attribute name="numero" type="xs:positiveInteger"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="email" type="tipoEmail"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="tipo" type="tipoUsuario"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="prestamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="fecha_inicio" type="xs:date"/>
        <xs:element name="fecha_fin" type="xs:date" minOccurs="0"/>
        <xs:element name="estado" type="tipoEstado"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="itemRef" type="xs:IDREF"/>
      <xs:attribute name="usuarioRef" type="xs:IDREF"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="tipoCategoria">
    <xs:restriction base="xs:string">
      <xs:enumeration value="novela"/>
      <xs:enumeration value="tecnico"/>
      <xs:enumeration value="poesia"/>
      <xs:enumeration value="ensayo"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tipoIsbn">
    <xs:restriction base="xs:string">
      <xs:length value="13"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tipoOrcid">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tipoArea">
    <xs:restriction base="xs:string">
      <xs:enumeration value="computacion"/>
      <xs:enumeration value="naturaleza"/>
      <xs:enumeration value="sociedad"/>
      <xs:enumeration value="divulgacion"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tipoIssn">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}-[0-9]{3}[A-Z]"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tipoUsuario">
    <xs:restriction base="xs:string">
      <xs:pattern value="alumno|profesor"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tipoEmail">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tipoEstado">
    <xs:restriction base="xs:string">
      <xs:pattern value="en_curso|devuelto"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
